<div class="container-fluid">
	<div class="row">
		<h1 class="header">GitHub flavored markdown with <a href="https://angularjs.org/">angular.js</a> and <a href="https://github.com/chjj/marked">marked</a></h1>
	</div>
	<div class="row">
		<div class="col-sm-6 input">
			<h3 class="title">Input Markdown</h3>
			<textarea class="form-control input-text" ng-model="$ctrl.inputText" ng-change="$ctrl.onInputChange()" auto-grow></textarea>
		</div>
		<div class="col-sm-6">
			<h3 class="title">Preview Markdown</h3>
			<div class="result" ng-bind-html="$ctrl.outputText"></div>
		</div>
	</div>
</div>
